<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My app</title>
  </head>
  <body>
    <a>
Casper Stuyts
</a>
    <ul class="search_results">
      <% for (var i = 0; i < search_results.length; i++) {%>
        <li class="search_result">
            <span>ID: <%= search_results[i].id %></span>
            <span>DATUM VASTSTELLING: <%= search_results[i].datum_vaststelling %></span>
            <span>OPNAMEPLAATS STRAAT: <%= search_results[i].opnameplaats_straat %></span>
            <span>RIJRICHTING: <%= search_results[i].opnameplaats_rijrichting_gaand %></span>
            <span>ZONE SNELHEIDK: <%= search_results[i].opnameplaats_zone_snelheid %></span>
            <span> AANTAL PASSANTEN: <%= search_results[i].aantal_passanten %></span>
            <span>OVERTREDINGEN SNELHEID: <%= search_results[i].aantal_overtredingen_snelheid %></span>
            <span>OVERTREDINGEN ROODLICHT: <%= search_results[i].aantal_overtredingen_roodlicht %></span>
        </li>
      <% } %>
    </ul>
  </body>
</html>
